*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::placeholder {
    color: #ababab !important;
    opacity: 1;
    font-weight: 300 !important;
    font-size: 15px !important;
}

.input-container {
    z-index: 2;
    position: relative;
    min-width: 400px !important;
    width: 400px !important;
    /* -moz-box-shadow: 10px 0 9px -7px #ccc;
    -webkit-box-shadow: 7px 0 9px -7px #ccc; */
    box-shadow: 0px 0 15px -5px #707070;
}

/********* INPUT PANEL CSS *********/

.input-panel-font {
    font-family: Ubuntu;
    font-weight: 300;
}

.input-menu {
    padding: 16px 30px 48px 28px
}

.dropdown {
    width: 100%;
    padding-bottom: 20px;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-header {
    font-size: 13px !important;
    text-transform: lowercase;
    color: #7288a1 !important;
}

.section-btn {
    width: 100%;
    text-transform: uppercase;
    font-size: 15px !important;
}

.section-menu-items {
    font-size: 15px !important;
}

.input-divider {
    margin-top: 25px;
}

.input-label {
    font-size: 13px;
    text-transform: lowercase;
    color: #7288a1;
    padding-left: 1px;
    margin-bottom: 5px;
}

.warning-label {
    font-size: 13px;
    text-transform: lowercase;
    color: #d43e3b;
    padding-left: 1px;
    margin-bottom: 5px;
}

.input-text {
    font-size: 15px !important;
    outline: none !important;
    box-shadow:none !important;
    border:1px solid #d9d9d9 !important;
}

.input-color:focus, .input-color:active {
    position: relative !important;
    z-index: 1 !important;
}

.input-addon {
    font-size: 15px !important;
}

.input-icon {
    font-size: 16px !important;
    color: #666666;
    vertical-align: middle !important;
    text-align: center !important;
}

.input-icon-light {
    font-size: 16px !important;
    color: #ababab;
    vertical-align: middle !important;
    text-align: center !important;
}

.input-button {
    font-size: 15px !important;
    text-align: center !important;
    vertical-align: middle !important;
}

.input-button-row {
    display: flex !important;
    align-items: center !important;
}

.input-button:focus, .input-button:active {
    box-shadow: none !important;
    outline: none !important;
}

.color-button:focus, .color-button:active {
    box-shadow: none !important;
    outline: none !important;
}

.font-selector:focus, .font-selector:active {
    box-shadow: none !important;
    outline: none !important;
    border-color: #d9d9d9 !important;
}

.font-label {
    font-size: 13px !important;
    text-transform: lowercase;
    color: #616161;
}

.font-checkbox {
    box-shadow: none !important;
    outline: none !important;
    border-color: #d9d9d9 !important;
    height: 15px !important;
    width: 15px !important;
}

.hide-show-button {
    font-size: 15px !important;
    background-color: transparent !important;
}

.input-collapse-btn {
    font-size: 15px !important;
}

.deactivated {
    color: #ababab !important;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color:gray;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 0.5px solid lightgray;
}
.separator::before {
    margin-right: 0.5em;
}
.separator::after {
    margin-left: 0.5em;
}


.resume-list-item:focus, .resume-list-item:active {
    box-shadow: none !important;
    outline: none !important;
}

.resume-list-text {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    min-width: 0;
}

.resume-list-text span {
    font-size: 15px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fix-height {
    height: 36px !important;
}

.info-button {
    padding: 0 !important;
    margin-left: 5px !important;
    margin-bottom: 3px !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.info-icon {
    font-size: 16px !important;
    color: #7288a1;
    vertical-align: middle !important;
    text-align: center !important;
}

/********* SOCIAL BUTTONS ***********/
.btn-google {
    font-size: 15px !important;
    color:#6b6b6b !important;
    background-color:#fff !important;
}

.btn-google:focus, .btn-google:hover, .btn-google:active {
    color:#fff !important;
    background-color:#4285F4 !important;
    border-color:rgba(0,0,0,0.2) !important;
}

.google-logo {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    width: 37px;
    margin: 0;
    border-radius: 10%;
}

.google-logo img {
    height: 21px;
    padding: 0;
    margin: 0;
}

.btn-bmc, .btn-bmc:active, .btn-bmc:focus {
    font-size: 16px !important;
    font-family: Short Stack;
    color:#fff !important;
    background-color:#FF813F !important;
    height: 38px !important;
}

.btn-bmc:hover {
    color:#6e371d !important;
    background-color:#FF813F !important;
    /* border-color:rgba(0,0,0,0.2) !important; */
}

.bmc-logo img {
    height: 36px;
    padding: 1px;
    margin: 0;
    padding-left: 8px;
    border-radius: 10%;
}

.btn-bmc-text {
    vertical-align: middle !important;
}

.btn-li {
    color:#fff !important;
    background-color:white !important;
    height: 30px !important;
    width: 30px !important;
}

.btn-li:focus, .btn-li:hover, .btn-li:active {
    box-shadow: none !important;
    outline: none !important;
}

.li-logo img {
    padding: 0;
    margin: 0;
    border-radius: 10%;
}

.btn-ios, .btn-ios:focus, .btn-ios:active {
    color:#fff !important;
    background-color:white !important;
    height: 30px !important;
    width: 30px !important;
}

.btn-ios:hover {
    box-shadow: none !important;
    outline: none !important;
}

.ios-logo img {
    padding: 0;
    margin: 0;
}

.btn-rss, .btn-rss:focus, .btn-rss:active {
    color:#fff !important;
    background-color:white !important;
    height: 30px !important;
    width: 30px !important;
}

.btn-rss:hover {
    box-shadow: none !important;
    outline: none !important;
}

.rss-logo img {
    padding: 2px;
    margin: 0;
}